//
//  Secrets.xcconfig
//  Features
//
//  Created by Stuart Minchington on 1/28/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// Make a copy named Secrets.xcconfig, add your Backtrace specific info, then add to your .gitignore file
BACKTRACE_SUBMISSION_URL = https://submit.backtrace.io/sl-7021d636ac504cc38fa89cdcdab5551e/b02797d62c48648433e8ccfcb1f1d06d24a592f2d1d9f227fc3015b38157d982/plcrash
