//
//  Secrets.xcconfig
//  Features
//
//  Created by Stuart Minchington on 1/28/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// Make a copy named Secrets.xcconfig, add your Backtrace specific info, then add to your .gitignore file
BACKTRACE_SUBMISSION_URL = https://submit.backtrace.io/sl-<your_info>/plcrash
