//
//  Secrets.xcconfig
//  Features
//
//  Created by Stuart Minchington on 1/28/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// Make a copy named Secrets.xcconfig, add your Backtrace specific info, then add to your .gitignore file
BACKTRACE_SUBMISSION_URL = https://submit.backtrace.io/sl-f8eccdf81c62461c852e6c906f777124/7f9251d576fedc28db9bab682ae5b593b394e1526dcb8149ee16e7fcded67773/plcrash
